@import "util.scss";

.page{
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.p-contentBody{
    padding-top: 46px;
}
.searchBox{
    margin-bottom:70px;
}
.tabBox{
    margin-bottom: 50px;
}